<% include partials/header %>

//Needs to be styled and linked to the respective game pages

<div class="container">
    
    <div id="games">
    <div class="row">
        <div class="col-lg-6" align="center">
            <img id="kazooie" src="https://vignette.wikia.nocookie.net/banjokazooie/images/a/ab/Banjo_Kazooie_logo.png/revision/latest?cb=20110725033055">
        </div>
        <div class="col-lg-6" align="center">
            <img id="tooie" src="https://vignette.wikia.nocookie.net/yogscast/images/4/43/Banjo-Tooie.png/revision/latest/scale-to-width-down/640?cb=20150803012108">
        </div>
    </div>
    </div>
    
</div>



<% include partials/footer %>
